<div class="right-flex">
    <div class="flex-bottom-align">
        <div class="spacer"></div>

        <div class="flex-row enter-item">
            <button data-action="admin_enterItem" class="btn brand-primary">Enter Item Number</button>
        </div>
        <div class="flex-row store-mode-options">
            <button data-action="price_override" class="btn disabled">Price Override</button>
            <button data-action="discount_percent" class="btn disabled">Discount %</button>
            <button data-action="discount_amount" class="btn disabled">Discount $ Amount</button>
            <button data-action="quantity_change" class="btn disabled">Change Qty</button>
            <button data-action="item_remove" class="btn disabled">Remove Item</button>
            <button data-action="transaction_clear" class="btn disabled">Clear Transaction</button>
        </div>
    </div>
</div>