<div class="right-flex">
    <div class="flex-bottom-align">
        <div class="spacer"></div>

        <div class="flex-row enter-item">
            <a href="#" class="btn brand-red">Enter Item Number</a>
        </div>
        <div class="flex-row store-mode-options">
            <a href="javascript:app.action_AdminPriceOverrideShow()" data-option="price_override" class="btn disabled">Price Override</a>
            <a href="#" data-option="discount_percent" class="btn disabled">Discount %</a>
            <a href="#" data-option="discount_amount" class="btn disabled">Discount $ Amount</a>
            <a href="#" data-option="quantity_change" class="btn disabled">Change Qty</a>
            <a href="#" data-option="item_remove" class="btn disabled">Remove Item</a>
            <a href="#" data-option="transaction_clear" class="btn disabled">Clear Transaction</a>
        </div>
    </div>
</div>