<div class="user-entry">
<div class="spacer"></div>
    <h3>Enter Item Number</h3>
    <input type="text" class="user-input" alt="Enter Item Number" title="Enter Item Number" aria-label="Enter Item Number">
    <div class="key-pad-outer">
      <div class="keyboard-wrapper keyboard-numeric">
        <div class="keyboard-row number-row">
          <button class="btn btn-key" data-key="1">1</button>
          <button class="btn btn-key" data-key="2">2</button>
          <button class="btn btn-key" data-key="3">3</button>
        </div>
        <div class="keyboard-row number-row">
          <button class="btn btn-key" data-key="4">4</button>
          <button class="btn btn-key" data-key="5">5</button>
          <button class="btn btn-key" data-key="6">6</button>
        </div>
        <div class="keyboard-row number-row">
          <button class="btn btn-key" data-key="7">7</button>
          <button class="btn btn-key" data-key="8">8</button>
          <button class="btn btn-key" data-key="9">9</button>
        </div>
        <div class="keyboard-row number-row">
          <button class="btn btn-key btn-action" data-key="clr">Clear</button>
          <button class="btn btn-key" data-key="0">0</button>
          <button class="btn btn-key btn-action" data-key="bksp">Delete</button>
        </div>
      </div>
      <div class="action-key-wrapper">
        <button class="btn cancel-btn" onclick="app.exitEnterItem()"><span>X</span><br>Cancel</button>
        <button class="btn ok-btn" onclick="app.enterItemNumber()"><span>O</span><br>OK</button>
      </div>
    </div>
</div>