{{! itemList -- uses GetTransactionitems as model}}
{{#each this}}
<div class="item-row" data-item-id="{{ItemId}}">
  <a href="javascript:void(0)" data-action="row_select" data-item-id={{ItemId}}>
          <div class="item-img" >
            <img data-item-id="{{ItemId}}" src="{{ImageUrl}}" onerror="app.ImageError(this)"/>
          </div>
          <div class="item-name" >{{Title}}

            {{#if (eq Quantity 0)}}
            {{else if (eq Quantity 1)}}
            {{else}}
            <span class="item-quantity">(x {{Quantity}})</span>
            {{/if}}
          </div>


          {{#if CanApply}}
          <div class="item-prompt" 
              data-action="item_prompt" 
              data-item-id="{{ItemId}}">{{ApplyMessage}}</div>
          {{/if}}
          {{#if CanRemove}}
          <div class="item-remove" data-action="item_remove" data-item-id="{{ItemId}}">Remove</div>
          {{/if}}
          {{#if QuantityPrompt}}
          <div class="item-quantityChange" data-action="item_quantity" data-item-id="{{ItemId}}">Qty</div>
          {{/if}}

          {{#if (eq IsOnSale true)}}
          <div class="item-price-old">{{PriceOriginal}}</div>
          {{/if}}
          <div class="item-price" >{{PriceCurrent}}</div>

  </a>
</div>
{{/each}}