{{! itemList -- uses GetTransactionitems as model}}
{{#each this}}
<div class="item-row" >
  <a href="javascript:void(0)" data-action="row_select" data-item-id={{ItemId}}>
          <div class="item-img" ><img src="{{ImageUrl}}"></div>
          <div class="item-name" >{{Title}} - {{Description}}</div>
          {{#if (eq ItemId 1)}}
          <div class="item-price-old">3.44</div>
          <div class="item-price" >{{PriceCurrent}}</div>
          {{else if (eq ItemId 2)}}
          <div class="item-remove" data-action="item_remove">Remove</div>
          {{else if (eq ItemId 3)}}
          <div class="item-prompt" data-action="item_prompt">Up to 30% off</div>
          <div class="item-price">{{PriceCurrent}}</div>
          {{else}}
          <div class="item-price" >{{PriceCurrent}}</div>
          {{/if}}
  </a>
</div>
{{/each}}