{{! tran-right -- uses CurrentCustomer as model}}
<div class="right-flex">
    <div class="flex-bottom-align">
    <div class="spacer"></div>       

    <div class="flex-row enter-item">
        <button data-action="action_enterItem" class="btn brand-primary">Enter Item Number</button>
    </div>
    <div class="flex-row reward-row">
        <button data-action="action_redeemGiftCard" class="btn">Redeem a Giftcard</button>
        {{#if (eq IsEmpty 0)}}
        <button data-action="action_addCredit" class="btn">${{StoreCredit}} Credit</button>
        {{/if}}
        <button data-action="action_addCoupon" class="btn">Add a Coupon</button>
    </div>
    <div class="flex-row finish">
        <button data-action="finish_pay" class="btn product-green btn-large">Finish and Pay</button>
    </div>
    </div>
</div>