<div class="admin-pretransaction">
    <div class="client-logo-image">
      <img src="[Asset.ClientLogo]" alt="client-image">
    </div>
    <div class="flex-middle-align">
        <div class="flex-row admin-actions">
        <button class="btn" data-ignore-click="true" data-action="admin_drawerClose">Drawer Close</button>
        <button class="btn" data-ignore-click="true" data-action="admin_exitKiosk">Launch FieldStack</button>
        </div>
    </div>
    <div class="footer">
   
    </div>
  </div>
  