    <div class="pin-pad">
        <div class="hf-logo">
            <img src="/images/hf-logo.png" alt="hollywood feed logo">
        </div>
        <div class="pin-pad-content">
            <h2>Follow the instructions<br>
                on the pin pad</h2>
            <div class="pin-pad-icon">
                <img class="pin-img" src="/images/pinpad-icon.png">
                <img class="pin-arrow" src="/images/arrow.png">
            </div>
        </div>
    </div>

    <div class="dev">
        <button onclick="app.action_TransactionComplete()">I PAID</button>
    </div>