    <div class="pin-pad">
        <div class="client-logo-image">
            <img src="[Asset.ClientLogo]">
        </div>
        <div class="pin-pad-content">
            <h2>[PinpadInstructions]</h2>
            <div class="pin-pad-icon">
                <img class="pin-img" src="[Asset.PinPadImage]">
                <img class="pin-arrow" src="[Asset.PinArrow]">
            </div>
        </div>
    </div>

    <div class="dev">
        <button data-action="{{OnSubmit}}">I PAID</button>
    </div>